:root {
	--black: #000;
	--white: #fff;
	--bg-primary: #0d6efd;
	--bg-secondary: #6c757d;
	--bg-success: #198754;
	--bg-danger: #dc3545;
	--bg-warning: #ffc107;
	--bg-info: #0dcaf0;
	--bg-light: #f8f9fa;
	--bg-dark: #212529;
	--color-primary: var(--white);
	--color-secondary: var(--white);
	--color-success: var(--white);
	--color-danger: var(--white);
	--color-warning: var(--black);
	--color-info: var(--black);
	--color-light: var(--black);
	--color-dark: var(--white);
}

.primary {
	background: var(--bg-primary);
	color: var(--color-primary);
	--bs-color: var(--bg-primary);
}

.secondary {
	background: var(--bg-secondary);
	color: var(--color-secondary);
	--bs-color: var(--bg-secondary);
}

.success {
	background: var(--bg-success);
	color: var(--color-success);
	--bs-color: var(--bg-success);
}

.danger {
	background: var(--bg-danger);
	color: var(--color-danger);
	--bs-color: var(--bg-danger);
}

.warning {
	background: var(--bg-warning);
	color: var(--color-warning);
	--bs-color: var(--bg-warning);
}

.info {
	background: var(--bg-info);
	color: var(--color-info);
	--bs-color: var(--bg-info);
}

.light {
	background: var(--bg-light);
	color: var(--color-light);
	--bs-color: var(--bg-light);
}

.dark {
	background: var(--bg-dark);
	color: var(--color-dark);
	--bs-color: var(--bg-dark);
}