:root {
	--black: #000;
	--white: #fff;
	--bg-primary: #0d6efd;
	--bg-secondary: #6c757d;
	--bg-success: #198754;
	--bg-danger: #dc3545;
	--bg-warning: #ffc107;
	--bg-info: #0dcaf0;
	--bg-light: #f8f9fa;
	--bg-dark: #212529;
	--color-primary: var(--white);
	--color-secondary: var(--white);
	--color-success: var(--white);
	--color-danger: var(--white);
	--color-warning: var(--black);
	--color-info: var(--black);
	--color-light: var(--black);
	--color-dark: var(--white);
	/* b: brightness */
	--b-hover: 1.2;
	--b-active: 1.6;
	/* bs: box-shadow */
	--bs-hover: 0 0 .6rem .3rem;
	--bs-active: 0 0 .6rem .3rem;
	--bs-focus: 0 0 .06rem .3rem;
	/* t: transparency */
	--bst-hover: 66%;
	--bst-active: 6%;
	--bst-focus: 33%;
}

button,
.btn {
	background: var(--color);
	border-radius: .6rem;
	border: none;
	color: var(--bg);
	cursor: pointer;
	margin: .6rem;
	padding: .6rem 1.2rem;
	text-align: center;
	transition: .2s;
	vertical-align: middle;
	--bs-color: var(--color);
}

.primary {
	background: var(--bg-primary);
	color: var(--color-primary);
	--bs-color: var(--bg-primary);
}

.secondary {
	background: var(--bg-secondary);
	color: var(--color-secondary);
	--bs-color: var(--bg-secondary);
}

.success {
	background: var(--bg-success);
	color: var(--color-success);
	--bs-color: var(--bg-success);
}

.danger {
	background: var(--bg-danger);
	color: var(--color-danger);
	--bs-color: var(--bg-danger);
}

.warning {
	background: var(--bg-warning);
	color: var(--color-warning);
	--bs-color: var(--bg-warning);
}

.info {
	background: var(--bg-info);
	color: var(--color-info);
	--bs-color: var(--bg-info);
}

.light {
	background: var(--bg-light);
	color: var(--color-light);
	--bs-color: var(--bg-light);
}

.dark {
	background: var(--bg-dark);
	color: var(--color-dark);
	--bs-color: var(--bg-dark);
}

button:hover:not(:disabled),
.btn:hover:not(:disabled) {
	filter: brightness(var(--b-hover));
	transform: translateY(-2px);
	box-shadow: var(--bs-hover) color-mix(in srgb, var(--bs-color), transparent var(--bst-hover));
}

button:focus:not(:disabled),
.btn:focus:not(:disabled) {
	outline: none;
	box-shadow: var(--bs-focus) color-mix(in srgb, var(--bs-color), transparent var(--bst-focus));
}

button:active:not(:disabled),
.btn:active:not(:disabled) {
	filter: brightness(var(--b-active));
	transform: translateY(0);
	box-shadow: var(--bs-active) color-mix(in srgb, var(--bs-color), transparent var(--bst-active));
}