#readMoreInput {
	display: none;
}

label[for="readMoreInput"] {
	position: absolute;
	right: .6rem;
	top: .6rem;
	width: 1.8rem;
}

#readMoreDiv {
	align-items: center;
	background: var(--bg);
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	inset: 0;
	justify-content: center;
	position: absolute;
	transform: scale(0);
	transition: .6s;
	will-change: transform, border-radius;
	z-index: 1;
}

#readMoreInput:checked~#readMoreDiv {
	border-radius: 0;
	transform: scale(1);
}

figure {
	border: 2px solid var(--color);
	border-radius: .6rem;
}

figcaption {
	border-bottom: 2px solid var(--color);
	padding: .6rem;
}

figure>pre {
	border: none;
	margin: 0;
}

input[type="file"]::file-selector-button {
	display: none;
}