:root {
	--bg: #212529;
	--color: #adb5bd;
	--font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--link-hover: rgb(139, 185, 254);
	--link-visited: var(--link);
	--link: rgb(110, 168, 254);
	--font-size: 1rem;
}

html {
	min-height: 100vh;
}

body {
	background: var(--bg);
	box-sizing: border-box;
	color: var(--color);
	display: flex;
	flex-direction: column;
	font-family: var(--font-family);
	margin: 0;
	min-height: 100vh;
	padding: 0 3rem 3rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin-bottom: 1rem;
}

main section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: var(--link);
}

a:hover {
	color: var(--link-hover);
}

a:visited {
	color: var(--link-visited);
}

a:visited:hover {
	color: var(--link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.2;
	margin: 0;
	margin-top: .6rem;
	text-align: center;
}

h1 {
	font-size: calc(var(--font-size) * 2.5);
}

h2 {
	font-size: calc(var(--font-size) * 2);
}

h3 {
	font-size: calc(var(--font-size) * 1.75);
}

h4 {
	font-size: calc(var(--font-size) * 1.5);
}

h5 {
	font-size: calc(var(--font-size) * 1.25);
}

h6 {
	font-size: var(--font-size);
}

p {
	font-size: var(--font-size);
	line-height: 1.5;
}

pre {
	border-radius: .6rem;
	border: 1px solid var(--color);
	margin: 1rem 0;
	overflow: auto;
	padding: 1rem;
}

img {
	max-width: 100%;
}

iframe {
	border-radius: .6rem;
	width: 100%;
}

footer {
	background: var(--bg);
	inset: auto 0 0;
	font-size: calc(var(--font-size) * 1.2);
	padding-bottom: .6rem;
	position: fixed;
	text-align: center;
	animation: footerAnimation .6s ease-in 6 alternate;
	transition: transform 0.6s;
	will-change: transform;
}

footer:hover {
	transform: scale(1.16);
}

.copyleft::before {
	content: '©';
	display: inline-block;
	margin-right: .6em;
	transform: scale(-1.6, 1.6);
}

@keyframes footerAnimation {
	to {
		transform: scale(1.16);
	}
}